.country {
  background-color: #fff;

  &__info {
    padding: 10px 0 10px 20px;
    width: 100%;
  }
}

.country-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.countries {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 4em;
  padding: 1em;
  row-gap: 3.5em;
}

.country__info-p {
  padding-bottom: 10px;
}

.country-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
